<mat-toolbar>
  <mat-toolbar-row>
    <h1>Student Management</h1>
    <span class="menu-spacer" style="width: 100px"></span>
    <nav>
      <a class="space" mat-button routerLink="/dashboard" [routerLinkActive]="'active-link'" ariaCurrentWhenActive="page">Dashboard</a>
      <a class="space" mat-button routerLink="/add" [routerLinkActive]="'active-link'" ariaCurrentWhenActive="page">Add Student</a>
      <a class="space" mat-button routerLink="/update" [routerLinkActive]="'active-link'" ariaCurrentWhenActive="page">Update Student</a>
    </nav>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
