/*.demo-table {*/
/*  width: 100%;*/
/*}*/

/*.mat-column-demo-position {*/
/*  width: 32px;*/
/*  border-right: 1px solid currentColor;*/
/*  padding-right: 24px;*/
/*  text-align: center;*/
/*}*/

/*.mat-column-demo-name {*/
/*  padding-left: 16px;*/
/*  font-size: 20px;*/
/*}*/

/*.mat-column-demo-weight {*/
/*  font-style: italic;*/
/*}*/

/*.mat-column-demo-symbol {*/
/*  width: 32px;*/
/*  text-align: center;*/
/*  font-weight: bold;*/
/*}*/


table {
  width: 100%;
}
table, td, th {
  border: 1px solid #333;
  border-collapse: collapse;
}
th:first-child,
td:first-child {
  width: 50px;
  text-align: center;
}
th, td {
  padding: 8px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mr-10 {
  margin-right: 10px ;
}




